<h2>List of ratings</h2>
<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating.beer.name %> <%= rating.score %> Done by:<%= link_to rating.user.username , user_path(rating.user.id) %><%= button_to 'delete', rating_path(rating.id), method: :delete , form: { data: { turbo_confirm: "Are you sure you want delete?"}}%></li>
 <% end %>
</ul>
<p>To be completed...</p>
<%= link_to 'Create new Rating' , new_rating_path %>