<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= link_to beer.name, beer %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= beer.brewery_id %>
  </p>

  <p>
    Beer has <%= beer.ratings.count %> <%= 'rating'.pluralize(beer.ratings.count) %>, at an average of <%= beer.ratings.map(&:score).reduce(0, :+).to_f / beer.ratings.count %>.
  </p>

</div>
